brakeman summary:
    cd $private_folder && bundle exec brakeman -f json --relative-path --summary 2>/dev/null
brakeman compare:
    cd $private_folder && bundle exec brakeman -f json --relative-path --compare brakeman.json 2>/dev/null

