brakeman summary:
    cd $private_folder && touch brakeman.json && brakeman --summary 2>/dev/null
brakeman compare:
    cd $private_folder && touch brakeman.json && brakeman -f json --compare brakeman.json 2>/dev/null

