brakeman summary:
    cd $private_folder && bundle exec brakeman -f json --quiet --relative-paths --summary 2>/dev/null
brakeman compare:
    cd $private_folder && bundle exec brakeman -f json --quiet --relative-paths --compare brakeman.json 2>/dev/null

