      <div class="row-fluid">
        <ul class="nav nav-tabs">
          <li class="active">
          <%=link_to '概况', intro_app_path(app), remote: true %>
          </li>
          <li><a href="">服务器管理</a></li>
          <li><a href="#">操作列表</a></li>
        </ul>
      </div>
      <div id="container">
        <%= render 'intro', :app => app %>
      </div>
      <script type="text/javascript">
        $("#app_nav li").removeClass("active");
        $("#app_nav_<%=app.id %>").addClass("active");
      </script>
