      <div class="row-fluid">
        <div class="span11">
          <!--%=render "", :app => app %-->
          hell
        </div><!--/.well -->
      </div><!--/span-->
      <script type="text/javascript">
        $("#menu li").removeClass("active");
        $("#m_operations").addClass("active");
      </script>
