      <div class="row-fluid">
        <div id="machines" class="span12">
          <div>
            <%=link_to( new_machine_path, remote: true) do %>
              <b class="icon-plus">手工添加服务器</b>
            <% end %>
            <div class="pull-right">
              <%=link_to reload_machines_path, remote: true do %>
                <b class="icon-download-alt">从CMDB同步服务器信息</b>
              <% end %>
            </div>
          </div>
          <div class="form"></div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>机器名</th>
                <th>地址</th>
                <th>登录用户</th>
                <th>端口</th>
                <th colspan="3">分组</th>
            	</tr>
            </thead>
            <tbody>
            <% current_user.owned_machines(current_app).each do |machine| %>
              <tr id="machines_<%=machine.id %>">
                <%=render 'item', :machine => machine %>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div><!--/.well -->
      </div><!--/span-->
      <script type="text/javascript">
        $("#menu li").removeClass("active");
        $("#m_machines").addClass("active");
      </script>
