<div id="operations">
  <ul class="nav nav-pills" style="margin:4px 0">
    <li class="history pull-right">
      <%=link_to '历史操作(最近一个月)', old_operations_app_path(parent.id), :remote => true %>
    </li>
    <li class="active current pull-right">
      <%=link_to '操作列表', operations_app_path(parent.id), :remote => true %> 
    </li>
  </ul>
  <div>
    <%=begin
         if defined? history 
           collection = (collection||parent.operations.without_state(:done)).order('created_at desc')
         else
           collection = (collection||parent.operations.without_state(:done))
         end
         render 'operations/collection_body', :collection => collection
       end
     %>
  </div>
</div>

